<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{books.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{books.author}}</h6>
    <p class="card-text">ISBN: {{books.ISBN}}</p>
    <p class="card-text">Year of publication: {{books.yearOfPublication}}</p>
    <p class="card-text">Publisher: {{books.publisher}}</p>
    <div *ngIf="averageScoreReview">
      <span class="card-text" >Average score: </span>
      <ngb-rating [(rate)]="averageScoreReview" [max]="5" [readonly]="true"></ngb-rating>
    </div>
    <div>
      <span [routerLink]="['/books', books._id]" class="link" *ngIf="hideDetails">Details</span>
      <span class="link">Edit</span>
    </div>
  </div>
</div>

